@font-face {
  font-family: "iconfont"; /* Project id 3980901 */
  src: url('//at.alicdn.com/t/c/font_3980901_vlgac734ith.woff2?t=1679969704279') format('woff2'),
       url('//at.alicdn.com/t/c/font_3980901_vlgac734ith.woff?t=1679969704279') format('woff'),
       url('//at.alicdn.com/t/c/font_3980901_vlgac734ith.ttf?t=1679969704279') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fanhui:before {
  content: "\e61e";
}
